//COLORS
$sunset-orange: #ff5757;
$sunset-orange-opaque: hsla(0, 100%, 67%, 0.1);
$beer: #ffb01f;
$beer-opaque: hsla(39, 100%, 56%, 0.1);
$green-blue: #00bd91;
$green-blue-opaque: hsla(166, 100%, 37%, 0.1);
$cobalt-blue: #1225d4;
$cobalt-blue-opaque: hsla(234, 85%, 45%, 0.1);

//GRADIENTS
$light-slate-blue: #7857ff;
$light-royal-blue: #2e2be9;
$violet-blue: #4e21ca;
$persian-blue: hsl(241, 72%, 46%,0);

//NEUTRALS
$white: #fff;
$black: #000;
$gray: rgba(128, 128, 128, 0.734);
$pale-blue: #ebf1ff;
$light-lavender: #c8c7ff;
$dark-gray-blue:  #303b5a;